{% extends 'bases/T002_BASE_SITE.html' %}

{% block title %}A Empresa - Soluções completas em Data Center no Brasil{% endblock %}
{% block description %}A Sianet Business Hosting oferece Serviços de Hosting, como Co-Location, Outsourcing, site backup, Operação assistida de Redes, Oracle e Streaming.{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="/static/lib/lightbox/css/lightbox.min.css">
{% endblock %}

{% block content %}
<div class="container-fluid header-margin">
    <div class="row">
        <img src="/static/img/banners/empresa.jpg" alt="Empresa" width="1980" height="183"
            style="margin-left: auto;margin-right: auto;"
            class="img-responsive" />
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="col-md-8 espaco-linhas">
                <br>
                <h3>Um Datacenter Especializado</h3>
                <br>
                <p class="text-muted">
                    A Sianet Business Hosting é muito mais que apenas uma empresa de ponta em Tecnologia da Informação e Comunicações (TIC), oferecendo aos seus clientes o que há de melhor em datacenter.
                </p>
                <p class="text-muted">
                    Oferecemos soluções inteligentes, completas e seguras de business hosting, como co-location, outsourcing, site back-up, operação assistida de redes e banco de dados Oracle, além de serviços exclusivos de e-mail e streaming media.
                </p>
                <p class="text-muted">
                    Operamos como Autonomous System e oferecemos soluções no modelo SaaS (Software as a Service) e cloud computing, possibilitando que os ambientes de nossos clientes estejam sempre disponíveis e permitindo fácil escalabilidade.
                </p>
                <p class="text-muted">
                    Ou seja, os clientes pagam apenas pelos serviços que estão utilizando, otimizando os investimentos em TI e liberando recursos para o negócio principal de suas empresas.
                </p>
                <br>
                <h3>Valorizamos nossos Colaboradores e Parceiros</h3>
                <br>
                <p class="text-muted">
                    Como acredita que a tecnologia só tem sentido como instrumento de humanização e cidadania, a empresa tem uma grande preocupação com o bem-estar dos seus colaboradores e parceiros.
                </p>
                <p class="text-muted">
                    Desde sua entrada principal, a recepção, já dá para notar esse cuidado. Antes do hall de entrada, há um jardim e uma fonte, que transmitem a preocupação da empresa com a motivação no trabalho e a qualidade de vida em geral. Ela é gerada tanto por um ambiente físico agradável como pela priorização das necessidades sociais das pessoas que formam a companhia.
                </p>
                <p class="text-muted">
                    Em cada um dos seus andares, nota-se cada vez mais essa filosofia. Há um cuidado todo especial na decoração de todos os ambientes, com referências às culturas clássicas e orientais.
                </p>
                <p class="text-muted">
                    Em cada departamento, foi criado um espaço para café. Não um espaço comum, mas uma minicafeteria, com balcão ou mesa, além de cadeiras para as pessoas sentarem tranquilamente, conversarem e degustarem um cafezinho ou um chá.
                </p>
                <p class="text-muted">
                    Todos os ambientes da empresa foram planejados para o total conforto de quem está trabalhando, com equipamentos novos e de última geração. Todas as áreas são arejadas e bem iluminadas.
                </p>
                <p class="text-muted">
                    As plantas compõem um cenário paisagístico extremamente agradável, tanto nos escritórios como em graciosos jardins abertos, contribuindo para humanizar o ambiente de trabalho.
                </p>
                <br>
            </div>
            <div class="col-md-4 espaco-linhas">
                <br>
                <br>
                <div>
                    <a class="image-link" href="/static/img/empresa/empresa-01.jpg" data-lightbox="empresa">
                        <img src="/static/img/empresa/min-empresa-01.jpg" alt="Miniatura" />
                    </a>
                    <a class="image-link" href="/static/img/empresa/empresa-02.jpg" data-lightbox="empresa">
                        <img src="/static/img/empresa/min-empresa-02.jpg" alt="Miniatura" />
                    </a>
                    <a class="image-link" href="/static/img/empresa/empresa-03.jpg" data-lightbox="empresa">
                        <img src="/static/img/empresa/min-empresa-03.jpg" alt="Miniatura" />
                    </a>
                    <a class="image-link" href="/static/img/empresa/empresa-04.jpg" data-lightbox="empresa">
                        <img src="/static/img/empresa/min-empresa-04.jpg" alt="Miniatura" />
                    </a>
                    <a class="image-link" href="/static/img/empresa/empresa-05.jpg" data-lightbox="empresa">
                        <img src="/static/img/empresa/min-empresa-05.jpg" alt="Miniatura" />
                    </a>
                    <a class="image-link" href="/static/img/empresa/empresa-06.jpg" data-lightbox="empresa">
                        <img src="/static/img/empresa/min-empresa-06.jpg" alt="Miniatura" />
                    </a>
                    <a class="image-link" href="/static/img/empresa/empresa-07.jpg" data-lightbox="empresa">
                        <img src="/static/img/empresa/min-empresa-07.jpg" alt="Miniatura" />
                    </a>
                    <a class="image-link" href="/static/img/empresa/empresa-08.jpg" data-lightbox="empresa">
                        <img src="/static/img/empresa/min-empresa-08.jpg" alt="Miniatura" />
                    </a>
                    <a class="image-link" href="/static/img/empresa/empresa-09.jpg" data-lightbox="empresa">
                        <img src="/static/img/empresa/min-empresa-09.jpg" alt="Miniatura" />
                    </a>
                    <a class="image-link" href="/static/img/empresa/empresa-10.jpg" data-lightbox="empresa">
                        <img src="/static/img/empresa/min-empresa-10.jpg" alt="Miniatura" />
                    </a>
                    <a class="image-link" href="/static/img/empresa/empresa-11.jpg" data-lightbox="empresa">
                        <img src="/static/img/empresa/min-empresa-11.jpg" alt="Miniatura" />
                    </a>
                    <a class="image-link" href="/static/img/empresa/empresa-12.jpg" data-lightbox="empresa">
                        <img src="/static/img/empresa/min-empresa-12.jpg" alt="Miniatura" />
                    </a>
                    <a class="image-link" href="/static/img/empresa/empresa-13.jpg" data-lightbox="empresa">
                        <img src="/static/img/empresa/min-empresa-13.jpg" alt="Miniatura" />
                    </a>
                    <a class="image-link" href="/static/img/empresa/empresa-14.jpg" data-lightbox="empresa">
                        <img src="/static/img/empresa/min-empresa-14.jpg" alt="Miniatura" />
                    </a>
                    <a class="image-link" href="/static/img/empresa/empresa-15.jpg" data-lightbox="empresa">
                        <img src="/static/img/empresa/min-empresa-15.jpg" alt="Miniatura" />
                    </a>
                    <a class="image-link" href="/static/img/empresa/empresa-16.jpg" data-lightbox="empresa">
                        <img src="/static/img/empresa/min-empresa-16.jpg" alt="Miniatura" />
                    </a>
                    <a class="image-link" href="/static/img/empresa/empresa-17.jpg" data-lightbox="empresa">
                        <img src="/static/img/empresa/min-empresa-17.jpg" alt="Miniatura" />
                    </a>
                    <a class="image-link" href="/static/img/empresa/empresa-18.jpg" data-lightbox="empresa">
                        <img src="/static/img/empresa/min-empresa-18.jpg" alt="Miniatura" />
                    </a>
                    <a class="image-link" href="/static/img/empresa/empresa-19.jpg" data-lightbox="empresa">
                        <img src="/static/img/empresa/min-empresa-19.jpg" alt="Miniatura" />
                    </a>
                    <a class="image-link" href="/static/img/empresa/empresa-20.jpg" data-lightbox="empresa">
                        <img src="/static/img/empresa/min-empresa-20.jpg" alt="Miniatura" />
                    </a>
                    <a class="image-link" href="/static/img/empresa/empresa-21.jpg" data-lightbox="empresa">
                        <img src="/static/img/empresa/min-empresa-21.jpg" alt="Miniatura" />
                    </a>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script src="/static/lib/lightbox/js/lightbox.min.js"></script>
<script>
    lightbox.option({
      'resizeDuration': 200,
      'wrapAround': true
    })
</script>
{% endblock %}
